* {
    margin: 0px;
    padding: 0px;
}

/* beautiful-flowers */

.beautiful-flowers {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: rgba(229, 84, 115, 0.10);
    gap: 100px;
}

.beautiful-flowers-text {
    /* width: 40%; */
    margin-top: 100px;
    margin-left: 100px;

}

.beautiful-flowers-h {
    color: #620ec9;
    font-size: 50px;
    padding: 20px;
}

.beautiful-flowers-p {
    color: #a4065d;
    font-size: 15px;
    padding: 20px;
}

.btn {
    font-size: 20px;
    background-color: red;
    padding: 10px;
    /* margin: 20px; */
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;

}

.beautiful-flowers-img-div {
    margin-right: 200px;
    padding-bottom: 0px;
}

.beautiful-flowers-img {
    height: 700px;
    width: 500px;

}

/* Featured Flowers */

.Featured-Flowers {
    width: 80%;
    margin: auto;
    /* background-color: gray; */
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}

.Featured-Flowers-h1 {
    text-align: center;
    color: #272727;
    padding: 20px;
    font-size: 30px;
}

.Featured-Flowers-p {
    text-align: center;
    padding: 20px;
    color: rgba(39, 39, 39, 0.60);
   
}

.Featured-Flowers-boxs {
    display: flex;
    gap: 20px;
    /* padding: 50px; */
    justify-content: space-around;

}

.Featured-Flowers-box-img {
    width: 370px;
    height: 350px;
    background-color: aqua;
    border-top-left-radius: 48%;
    border-top-right-radius: 48%;
    /* border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
1x */

    /* margin-top: 10px; */ 
    padding-top: 60px;
    /* padding-left: 10px;
    padding-right: 10px; */
    

}




/* Hot Deal */

.Hot-Deal {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: rgba(4, 31, 188, 0.1);
    gap: 100px;
    margin-top: 50px;
}

.Hot-Deal-text {
    /* width: 40%; */
    margin-top: 100px;
    margin-left: 100px;

}

.Hot-Deal-h {
    color: #620ec9;
    font-size: 30px;
    padding: 20px;
}

.Hot-Deal-p {
    color: #a4065d;
    font-size: 15px;
    padding: 20px;
}

.Hot-Deal-btn {
    font-size: 20px;
    background-color: red;
    padding: 10px;
    /* margin: 20px; */
    margin-top: 20px;
    margin-left: 130px;
    border-radius: 5px;

}

.Hot-Deal-img-div {
    margin-right: 200px;
    margin-top: 100px;
    padding-bottom: 0px;
}

.Hot-Deal-img {
    height: 300px;
    width: 250px;

}

/* Instagram */

.Instagram {
    width: 80%;
    margin: auto;
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}

.Instagram-h1 {
    text-align: center;
}

.Instagram-p {
    text-align: center;
}

.boxs {
    display: flex;
    gap: 20px;
    padding: 30px;
}

.box-img {
    width: 250px;
    height: 300px;
    border-radius: 5px;
}

/*  Latest Deals */

.Latest-Deals {
    width: 73%;
    margin: auto;
    height: 230px;
    background-color: gray;
    padding: 70px;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    background-image: url('./Rectangle\ 9.png');



}

.Latest-Deals-h1 {
    font-size: 40px;
}

.Latest-Deals-p {
    color: rgba(39, 39, 39, 0.60);
    padding: 20px;
    margin-bottom: 40px;
}

.contact-email {
    padding: 18px 35px;
    width: 450px;
    border-radius: 5px;

}

.contact-btn {
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}


/* footer */

.footer {


    background: #111010;
    margin-top: 100px;
    padding: 100px;
    text-align: center;
    color: white;




}

.footer-text-primary {

    color: #E55473;
}

.footer-h1 {
    font-size: 48px;
    margin: 20px;
}

.footer-p {
    color: rgba(255, 255, 255, 0.90);
    margin: 20px;
}

.copy-rights {
    color: rgba(255, 255, 255, 0.40);
}