* {
    margin: 0px;
    padding: 0px;
}

/* beautiful-flowers */

.beautiful-flowers {
    height: 100vh;
    /* width: 600px; */
    /* display: flex;
    justify-content: space-around;
    padding: 30px 30px 0px 150px;
    background: rgba(229, 84, 115, 0.10);
    gap: 100px; */

}

.beautiful-flowers-text {
    /* width: 40%; */
    /* margin-top: 100px;
    margin-left: 100px; */
    display: flex;
    justify-content: space-around;
    padding: 30px 30px 0px 150px;
    background: rgba(229, 84, 115, 0.10);
    gap: 100px;

}
.beautiful-flowers-info{
    padding: 60px 100px 0px 100px;
}

.beautiful-flowers-h {
    color: #272727;
    font-size: 50px;
    padding: 20px;
}

.beautiful-flowers-p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    padding: 20px;
}

.btn {
    font-size: 20px;
    background: #E55473;
    padding: 10px;
    /* margin: 20px; */
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;

}

.beautiful-flowers-img-div {
    margin-right: 200px;
    padding-bottom: 0px;
}

.beautiful-flowers-img {
    /* height: 700px; */
    width: 600px;
    /* padding-bottom: 0px; */

}

/* Featured Flowers */

.Featured-Flowers {
    width: 80%;
    margin: auto;
    /* background-color: gray; */
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}

.Featured-Flowers-h1 {
    text-align: center;
    color: #272727;
    padding: 20px;
    font-size: 30px;
    font-family: Lato;
}

.Featured-Flowers-p {
    text-align: center;
    padding: 20px;
    color: rgba(39, 39, 39, 0.60);

}

.Featured-Flowers-boxs {
    display: flex;
    gap: 20px;
    /* padding: 50px; */
    justify-content: space-around;

}

.Featured-Flowers-box-img {
    width: 370px;
    height: 350px;
    background-color: rgba(71, 125, 17, 0.15);
    /* border-radius: 300px 300px 0px 0px; */
    border-top-left-radius: 48%;
    border-top-right-radius: 48%;
    /* border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
1x */

    /* margin-top: 10px; */
    /* padding-top: 60px; */
    /* padding-left: 10px;
    padding-right: 10px; */


}

.Featured-Flowers-bottom {
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;

}
/* img{
    height: 180px;
    width: 150px;
} */
#Featured-Flowers-f1 {
    background-color: rgba(167, 33, 98, 0.15);
    padding : 40px 15px 0px 15px;
  
    
}

#Featured-Flowers-f2 {
    background-color: rgba(5, 151, 160, 0.15);
    padding : 40px 15px 0px 15px;
}

#Featured-Flowers-f3 {
    background-color: rgba(71, 125, 17, 0.15);
    padding : 40px 15px 0px 15px;
   
    
}




/* Hot Deal */

.Hot-Deal {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: rgba(4, 31, 188, 0.1);
    gap: 100px;
    margin-top: 50px;
}

.Hot-Deal-text {
    /* width: 40%; */
    margin-top: 100px;
    margin-left: 100px;

}

.Hot-Deal-h {
    color: #272727;
    font-size: 30px;
    padding: 20px;
    font-family: Lato;
}

.Hot-Deal-text-primary {
    color: #E55473;
    
}

.Hot-Deal-p {
    color: rgba(39, 39, 39, 0.60) ;
    font-size: 15px;
    padding: 20px;
}

.Hot-Deal-btn {
    font-size: 20px;
    background: #E55473;
    padding: 10px;
    /* margin: 20px; */
    margin-top: 20px;
    margin-left: 130px;
    border-radius: 5px;

}

.Hot-Deal-img-div {
    margin-right: 200px;
    margin-top: 100px;
    padding-bottom: 0px;
}

.Hot-Deal-img {
    height: 300px;
    width: 250px;

}

/* Instagram */

.Instagram {
    width: 80%;
    margin: auto;
    /* background-color: gray; */
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    /* display: flex;
    justify-content: center; */
}

.Instagram-h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
}

.Instagram-p {
    text-align: center;
    margin-bottom: 20px;
}

.boxs {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.box-img {
    width: 250px;
    height: 300px;
    border-radius: 5px;
}

/*  Latest Deals */

.Latest-Deals {
    width: 66%;
    margin: auto;
    height: 230px;
    background-color: gray;
    padding: 70px;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    background-image: url('./Rectangle\ 9.png');



}

.Latest-Deals-h1 {
    font-size: 40px;
}

.Latest-Deals-p {
    color: rgba(39, 39, 39, 0.60);
    padding: 20px;
    margin-bottom: 40px;
}

.Latest-Deals-contact-email {
    padding: 18px 35px;
    width: 450px;
    height: 15px;
    /* margin-right: 500px; */
    border-radius: 5px;

}

.Latest-Deals-contact-btn {
    border-radius: 5px;
    background: #E55473;
    /* border: 0; */
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}
/* massage */
footer{
    display: flex;
    background: rgba(177, 104, 21, 0.1);
    padding: 30px;
    margin-top: 100px;
    gap: 100px;
    color: #a80303;
}
.footer-left{
    width: 50%;
}
.footer-right{
    width: 50%;
    padding-left: 250px;
}
.footer-h{
    color: #a80303;
    font-size: 40px;
    padding-bottom: 20px;
}

.footer-p{
    color: rgb(171, 14, 14);
    padding-bottom: 20px;
    margin-left: 1px;
    background-color: #272727;
}
.contact input[type ="text"],.contact input[type ="email"],
textarea {
    display: block;
    margin-bottom: 20px;
    padding: 18px 35px;
    color: #a80303;
    border-radius: 5px;
    background:  #4c4758;
    border: 0px;
    width: 100%;
}
.btn-primary {
    border-radius: 5px;
    background: #E55473;
    border: 0;
    color: wheat;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}
.hr{
    font-weight: bold;
}


/* footer */

.footer {


    background: #111010;
    margin-top: 100px;
    padding: 100px;
    text-align: center;
    color: white;




}

.footer-text-primary {

    color: #E55473;
}

.footer-h1 {
    font-size: 48px;
    margin: 20px;
}

.footer-p {
    color: rgba(255, 255, 255, 0.90);
    margin: 20px;
}

.copy-rights {
    color: rgba(255, 255, 255, 0.40);
}